laravel/*.log
laravel/.DS_Store
laravel/.env
laravel/.env.backup
laravel/.env.production
laravel/.phpactor.json
laravel/.phpunit.result.cache
laravel//.fleet
laravel//.idea
laravel//.nova
laravel//.phpunit.cache
laravel//.vscode
laravel//.zed
laravel//auth.json
laravel//node_modules
laravel//public/build
laravel//public/hot
laravel//public/storage
laravel//storage/*.key
laravel//storage/pail
laravel//vendor
laravel/Homestead.json
laravel/Homestead.yaml
laravel/Thumbs.db
